.input-row{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;  
    /* flex-direction: column;  */
}

.output-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
