body{
    height: 100vh;
    width: 100%;
}
.box{
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
}
.btn{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-top: 300px;
    font-size: 18px;
    padding-left: 12px;
    padding-right: 12px;
   
    
    
}
