body {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#f4f4f4;
}

.counter {
  text-align:center;
}

button {
  padding:10px 20px;
  margin:10px;
}
