*{
  padding: 0px;
  margin: 0px;
}
body{
  height:100vh;
  width: 100%;
  box-sizing: border-box;
  /* background-color: #212121; */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* color: white; */
}
.parent-contentainer{
  height: 60%;
  width: 40%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  border: solid 1px gray;
  border-radius: 6px;
  gap:20px;
}
.child-parent{
  display: flex;
  flex-direction: column;
  gap:32px;
}
.loan{
  border: solid 1px gray;
  padding: 10px 15px;
}
