body{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.box{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.input{
    height: 15px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
    font-size: 16px;
}
.btn{
    height: 35px;
    width: 80px;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 16px;
    cursor: pointer;
}
.todo{
    margin-top: 20px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px;
    width: 200px;
    /* color: black; */
    font-size: 18px;
    background-color: red;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}
