body{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.clock{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    align-items: center;
    background-color: rgba(255,255,255,0.1);
    border: 2px solid rgba(255,255,255,0.25);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.9);
    color: white;
    border-radius: 50%;
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg* var(--i)));
    inset: 210px;
    color: white;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}
.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff; 
    z-index: 2;
}
.hand i{
    position: absolute;
    background-color:  var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 8px;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/*
12hour = 360deg
1hour = 360/12 = 30deg
h hours = 30h
*/