* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #141e30, #243b55);
  display: flex;
  justify-content: center;
  padding: 40px;
}

.app {
  width: 100%;
  max-width: 900px;
}

.app-title {
  text-align: center;
  color: #f8fafc;
  margin-bottom: 30px;
  font-size: 32px;
}

.note-input {
  background: #f8fafc;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  margin-bottom: 30px;
}

.note-input input,
.note-input textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 14px;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 8px;
  background: #e2e8f0;
}

.note-input textarea {
  resize: none;
  height: 100px;
}

.note-input button {
  width: 100%;
  padding: 13px;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s, opacity 0.2s;
}

.note-input button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(34, 197, 94, 0.6);
  opacity: 0.95;
}


.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}


.note-card {
  background: linear-gradient(135deg, #ffffff, #f1f5f9);
  padding: 16px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  max-height: 220px;

  
  animation: fadeInCard 0.4s ease;
}

@keyframes fadeInCard {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.note-card:hover {
  transform: translateY(-6px);
}

.note-card h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #1e293b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.note-card p {
  font-size: 14px;
  color: #334155;
  line-height: 1.5;
  overflow-y: auto;
  padding-right: 5px;
  max-height: 100px;
  overflow-x: hidden;
}

/*scroll*/
.note-card p::-webkit-scrollbar {
  width: 6px;
}
.note-card p::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 10px;
}
.note-card p::-webkit-scrollbar-track {
  background: #e5e7eb;
}

.btn-box {
  display: flex;
  gap: 10px;
  margin-top: 17px;
}

.btn {
  padding: 10px 15px;
  border-radius: 14px;
  background: linear-gradient(135deg, #38bdf8, #0284c7);
  border: none;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(56, 189, 248, 0.6);
}


.del {
  background: linear-gradient(135deg, #ef4444, #b91c1c);
}

.del:hover {
  box-shadow: 0 6px 16px rgba(239, 68, 68, 0.6);
}
